/*------Structure----*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82));
    z-index: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.desktop-container {
    display: flex;
    width: 61.805%;
    height: 83.789vh;
    overflow: hidden;
    z-index: 20;
    margin: auto;
    box-sizing: border-box;
    border-radius: 16px;
}

/*-------Video block----*/
.desktop-container .wrapper_video-stream {
    width: 57.86%;
    position: relative;
    z-index: 200;
    box-sizing: border-box;
}

.desktop-container .video-bg {
    position: static;
    width: 100%;
}

.desktop-container .video {
    position: absolute;
    top: 0;
    left: -50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.desktop-container .header_video-stream,
.desktop-container .shopping,
.desktop-container .footer_video-stream {
    position: relative;
    z-index: 20;
}

.desktop-container .header_video-stream {
    margin: 32px 37px 15.03px 22px;
}

.desktop-container .actions {
    display: none;
}

.desktop-container .special-offers {
    margin-right: 37px;
    margin-top: -47px;
}

.desktop-container .cart {
    margin-left: 22px;
}

.desktop-container .gift {
    margin-bottom: 31.2px;
}

.desktop-container .footer_video-stream {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 60.84%);
    box-sizing: border-box;
    padding-bottom: 37.22px;
    padding-top: 125px;
}

.product_sm:first-child {
    margin-left: 22px;
}

.desktop-container .wrapper_video-stream .social {
    display: none;
}

/*----------Right content----------*/
.desktop-container header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 32px;
}

.desktop-controls {
    display: flex;
    align-items: center;
}

.desktop-controls button {
    margin-left: 23.28px;
}

.desktop-container .page-title {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    margin: 31.54px auto 0;
}

/*--------Comments----*/
.desktop-container .wrapper_comments {
    width: 42.14%;
    z-index: 2;
}

.desktop-container .header_comments {
    padding: 23px 23.44px 90px 37px;
    margin-bottom: 0;
    position: relative;
    z-index: 50;
    background-color: #EDEEF3;
}

.desktop-container .btn-chat {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.25;
    text-decoration-line: underline;
    color: #243244;
}

.desktop-container .main_comments {
    padding: 0 31.67px 0 27px;
}

.desktop-container  .comments__list {
    position: relative;
    top: -95px;
}

.desktop-container .comment {
    display: flex;
    margin-bottom: 10px;
}

.desktop-container  .comment__avatar-border {
    min-width: 27.91px;
    min-height: 27.91px;
    width: 27.91px;
    height: 27.91px;
    border: 0.996706px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(3.98683px);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9.97px;
}

.desktop-container  .comment__avatar-img {
    max-height: 100%;
}

.desktop-container  .comment__user-name {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.0332236px;
    color: #243244;
}

.desktop-container  .comment__text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.0332236px;
    color: #4F4F4F;
}

.desktop-container .wrapper_comments .container-sticky {
    position: sticky;
    bottom: 0;
}

.desktop-container .footer_comments {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 105px;
    background: #EDEEF3;
}

.footer_comments .social {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 32px 0 28px;
}

.footer_comments .social .all-products {
    margin-left: 29.11px;
}

.footer_comments .social .input-ask {
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #243244;
}

.footer_comments .social .like {
    margin-right: 24.22px;
}

.footer_comments path:first-child {
    fill: #243244;
}

/*--------Content for product card--------*/
.desktop-container .wrapper_product-card {
    width: 42.14%;
    z-index: 2;
    overflow-y: scroll;
    padding-top: 23px;
}

.desktop-container .header_product-card {
    padding-left: 21px;
    padding-right: 23.44px;
}

.desktop-container .product-images__list {
    padding-top: 0;
    padding-bottom: 26.46px;
}

.desktop-container .product-images__dots {
    margin-bottom: 27.47px;
}

.desktop-container .wrapper_product-card .product-desc {
    margin-bottom: 0;
}

.desktop-container .product-desc .container {
    position: relative;
    z-index: 35;
}

.desktop-container .footer_product-card {
    position: relative;
    z-index: 30;
    padding-bottom: 48px;
}

.desktop-container .footer_product-card .btns-block {
    text-align: center;
}

.desktop-container .product-numbers {
    margin-bottom: 31.81px;
}
/*--------Content for stream products--------*/
.desktop-container .wrapper__stream-products {
    width: 42.14%;
    box-sizing: border-box;
    z-index: 2;
    overflow-y: scroll;
    padding: 23px 23.44px 48px 25px;
}

.desktop-container .header_stream-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 35px;
}

/*--------Content for streamrs' pages--------*/
.desktop-container .wrapper_streamer-page {
    width: 42.14%;
    z-index: 2;
    overflow-y: scroll;
}

.desktop-container .header_streamer-page {
    width: 100%;
    min-height: 222px;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 25px 23.44px 21px;
}

.desktop-container .header_streamer-page .btn-icon path{
    fill: #fff;
}

.desktop-container .main_streamer-page .container {
    position: relative;
    z-index: 35;
}

.desktop-container .footer_streamer-page {
    position: relative;
}

.desktop-container .footer_streamer-page .btns-block {
    padding-bottom: 48px;
}

/*------------Basket--------*/
.desktop-container .wrapper_basket {
    width: 42.14%;
    box-sizing: border-box;
    z-index: 2;
    overflow-y: scroll;
    position: relative;
    padding: 23px 21px 0;
}

.desktop-container .main_basket .product-list_stream-products {
    margin-bottom: 0;
}

.wrapper_basket .container-sticky {
    position: sticky;
    bottom: 0;
}

.desktop-container .footer_basket {
    position: static;
}

.desktop-container .footer_basket .btns-block {
    bottom: 48px;
}

@media screen and (max-width: 1440px) {
    .desktop-container {
        width: 890px;
    }

    .desktop-container .wrapper_video-stream {
        width: 515px;
    }

    .desktop-container .wrapper_streamer-page,
    .desktop-container .wrapper_basket,
    .desktop-container .wrapper_product-card,
    .desktop-container .wrapper__stream-products {
         width: 375px;
    }
}

@media screen and (max-width: 950px) {
    .desktop-container {
        width: 100%;
        height: 100%;
    }

    .desktop-container .wrapper_video-stream {
        width: 57.86%;
    }

    .desktop-container .wrapper_streamer-page,
    .desktop-container .wrapper_basket,
    .desktop-container .wrapper_product-card,
    .desktop-container .wrapper__stream-products{
        width: 42.14%;
    }
}

/*------------C 850 стили для мобильны устройств-----------*/